@font-face {
    font-family: 'ArnhemProBlond';
    src: url('ArnhemBlond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'ArnhemProBlond', sans-serif;
}

.barra{
    height: 5px;
    background-color: white;
}

.menu{
    background-color:  #01295C;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    border: #063672 2px solid;
    border-radius: 30px;
    width: 100%;
}

.logo img{
    height: 100px;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    border: 10px solid #063672;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li{
    float: left;
}

.menu a{
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    display: block;
}

.menu a.elementos:hover{
    background-color: #0C58B8;
    border-radius: 25px;
}

/*Redimensionamiento Tablets*/
@media screen and (min-width: 600px)
{
    body{
        font-size: 15px;
    }
}

/*Redimensionamiento PC*/
@media screen and (min-width: 1024px)
{
    body{
        font-size: 18px;
    }
}

.paginicio{
    position: relative;
    overflow: hidden;
}

.superpuesto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #01295C;
}

.superpuesto p{
    font-size: 80px;
}

body .paginicio{
    padding: 20px;
    text-align: center;
}

body .paginicio img{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
}

.contenedorsecciones{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.secciondoctores{
    padding: 20px;
    margin: 20px 10px;
    background-color: #FBEEE6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #01295C;
    width: 45%;
}

.seccionubicacion{
    padding: 20px;
    margin: 20px 10px;
    background-color: #FBEEE6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #01295C;
    width: 45%;
}

.secciondoctores h1, .seccionubicacion h1{
    color: #01295C;
    text-align: center;
    font-size: 40px;
}

.secciondoctores img, .seccionubicacion img, .seccioncita img{
    height: 150px;
    width: 150px;
}

.seccionenlace{
    text-decoration: none;
    color: #01295C;
    transition: box-shadow 0.3s;
}

.seccionenlace:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.seccioncita{
    background-color: #01295C;
    border-color: black;
    color:#FBEEE6;
    width: auto;
    height: auto;
    border: 20px solid #1A5276;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: small;
}

.seccioncita h1{
    color:#FBEEE6;
    text-align: center;
    font-size: 35px;
}

#botoncitas{
    background-color: #0AB0D9;
    color: #FBEEE6;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#botoncitas:hover{
    background-color: #12AF0D;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    align-items: center;
}

.imagen{
    overflow: hidden;
    border-radius: 10px;
}

.imagen img{
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.imagen:hover img{
    transform: scale(1.1);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-contenido {
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.cerrar {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.textoimagenes{
    background-color: #FBEEE6;
    color: #01295C;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
}

.piepagina{
    text-align: center;
    font-size: small;
    padding: 20px;
    background-color: #01295C;
    color:white;
    height: 75px;
}

.piepagina img{
    height: 75px;
    float: left;
    border-color: 2px solid white;
}

.piepagina div img{
    height: 40px;
    width: 40px;
    align-items: center;
    margin-right: 10px;
}

.piepagina .redes{
    text-align: center;
    float: right;
}

.piepagina .redes img{
    display: inline-block;
}

/*PAGINA QUIENESOMOS.HTML*/

.menu a.elementosquien:hover{
    background-color: #138D75;
    border-radius: 25px;
}
.imagen-texto {
    position: relative;
    text-align: center;
}

.imagen-texto img {
    width: 100%;
    height: auto;
}



.seccionesquien{
    background-color: #FBEEE6;
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    color: #01295C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.seccionesquiender{
    background-color: #FBEEE6;
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: right;
    color: #01295C;
}

.titulosquien{
    font-style: italic;
}

.imagenquien{
    text-align: center;
    margin-top: 20px;
}

.imagenquien img{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}

.contenedorlogo img{
    height: 200px;
    width: 200px;
}

/*PAGINA NOTICIAS.HTML*/

.menu a.elementosnoticias:hover{
    background-color: #EF7257;
    border-radius: 25px;
}
.titulos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 10%;
    text-align: center;
    overflow: hidden;
}

.titulo {
    width: 100%; /* Modificado para ocupar toda la línea */
    margin-top: 50px;
    padding: 15px; 
    background-color: #FBEEE6;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #01295C;
    display: flex; /* Agregado para flexibilidad */
    justify-content: space-between; /* Agregado para espacio entre elementos */
    align-items: center; /* Agregado para alinear verticalmente los elementos */
}

.titulo a {
    text-decoration: none;
    color: #01295C;
}

.titulo p {
    text-align: justify;
    flex: 1; /* Agregado para que la descripción ocupe el espacio restante */
    margin-left: 20px; /* Agregado para espacio entre imagen y texto */
}

.titulo img {
    text-align: center;
    max-width: 200px; 
    min-width: 100px;
    height: auto; 
    margin-bottom: 10px; 
}

.elementosnoticias img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform .2s; 
}

.elementosnoticias img:hover {
    transform: scale(1.1); 
}

.imagennoticia{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    filter: invert(0.07);
}
.texto-superpuesto {
    position: absolute;
    top: calc(50% + (10% - 50%) * (1 - (min(100%, 80vw) - 300px) / (800 - 300)));
    left: 35%;
    transform: translate(-50%, -105%);
    color: white;
    
    font-family:sans-serif;    
}
.texto-superpuesto  pre{
    font-weight: 700;
    color: #01295C;
    font-size: 4vw;
}
.texto-superpuesto p{
    font-size: 4vw;
    font-weight: 850;
    color: #01295C;
}
/*PAGINA NOTICIAS1.HTML*/
.menu a.elementosnoticias1:hover{
    background-color: #EF7257;
    border-radius: 25px;
}
.titulos1 {
    
    
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column; 
    align-items: center; 
    text-align: center;

}
.titulo1 {
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    background-color: #FBEEE6;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    color: #01295C;
}
.titulo1 h1{
    text-align: center;
}
.titulo1 p,li,caption{
    text-align: justify;
}

.imagennoticia1{
    width: 60%;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
    
}
.atras{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin-top: 20px;
    display: flex;
}
/*PAGINA contacto.HTML*/
.containerco {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side {
    flex: 1;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-side {
    flex: 1;
    padding-left: 20px;
}

h2 {
    color: #333;
}

.line {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

form {
    max-width: 300px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
/* ubicacion*/
.map-container {
    width: 95%;
    height: 450px;
    margin-bottom: 20px;
    margin: 40px; 
    
}
.descripcionu {
    display: none;
}
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    align-items: center;
}

.list {
    width: calc(100% - 20px);
    margin-top: 20px;
    padding: 15px; 
    background-color: #FBEEE6;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #01295C;
    box-sizing: border-box;
    text-align: center; /* Centra el contenido de .list */
}

.list img {
    max-width: 300px; /* Máximo ancho de 300px */
    max-height: 300px; /* Máximo alto de 300px */
    width: auto;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.list img:hover {
    transform: scale(1.1);
}

.description {
    padding: 10px;
    background-color: #f2f2f2;
}

.list .descripcion {
    text-align: left;
}

.descripcion img{
    text-align: right;
}

.list:not(.active) .description {
    display: none;
    
}

/*PAGINA odontologos.HTML*/

#search-input {
    position: absolute;
    top: calc(50% + (10% - 50%) * (1 - (min(100%, 80vw) - 300px) / (800 - 300)));
    left: 15%;
    transform: translate(12%, 70%);
    color: rgb(10, 10, 10);
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
}

#search-button {
    position: absolute;
    top: calc(50% + (10% - 50%) * (1 - (min(100%, 80vw) - 300px) / (800 - 300)));
    left: 57%;
    transform: translate(12%, 70%);
    color: rgb(10, 10, 10);
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
}
#reset-button {
    position: absolute;
    top: 30% , 10%;
    left: 69%;
    transform: translate(12%, 70%);
    color: rgb(10, 10, 10);
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10%;
    text-align: center;
}

.profile {
    width: 35%;
    margin-top: 50px;
    padding: 15px; 
    background-color: #FBEEE6;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #01295C;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.profile p{
    text-align: left;
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-details {
    margin-top: 10px;
}

/* Estilos adicionales para hacerlo responsive */
@media (max-width: 768px) {
    
    .titulos {
        flex-direction: column;
    }

    .titulo {
        width: 100%;
    }
}

/*PAGINA CITAS.HTML*/

.menu a.elementoscitas:hover{
    background-color: #C080FF;
    border-radius: 25px;
}

.seccion-indicaciones, .seccion-formulario {
    padding: 20px;
    margin: 20px 0;
    background-color: #FBEEE6;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #01295C;
}

.seccion-indicaciones h2, .seccion-formulario h2 {
    color: #01295C;
}

.seccion-formulario form{
    max-width: 600px;
    margin: auto;
}

.columnas{
    flex: 1;
}

.columna label{
    display: block;
    margin-bottom: 5px;
    color: #01295C;
}

.columna input, .columna textarea, .columna select{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.envio{
    background-color:#01295C;
    color: #FBEEE6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin: auto;
    display: block;
}

/*PAGINA CONTACTO.HTML*/

.menu a.elementoscontacto:hover{
    background-color: #873600;
    border-radius: 25px;
}

/*PAGINA PORTAL.HTML*/

.menu a.elementosportal:hover{
    background-color: #D4AC0D;
    border-radius: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
