@font-face {
    font-family: 'ArnhemProBlond';
    src: url('ArnhemBlond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'ArnhemProBlond', sans-serif;
}

.barra{
    height: 5px;
    background-color: white;
}

.menu{
    background-color:  #01295C;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    border: #063672 2px solid;
    border-radius: 30px;
}


.logo img{
    height: 100px;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    border: 10px solid #063672;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li{
    float: left;
}

.menu a{
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    display: block;
}

.menu a.elementos:hover{
    background-color: #0C58B8;
    border-radius: 25px;
}

/*Redimensionamiento Tablets*/
@media screen and (min-width: 600px)
{
    body{
        font-size: 15px;
    }
}

/*Redimensionamiento PC*/
@media screen and (min-width: 1024px)
{
    body{
        font-size: 18px;
    }
}

body .paginicio{
    padding: 20px;
    text-align: center;
}

body .paginicio img{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
}

.piepagina{
    text-align: center;
    font-size: small;
    padding: 20px;
    background-color: #01295C;
    color:white;
    height: 75px;
}

.piepagina img{
    height: 75px;
    float: left;
    border-color: 2px solid white;
}

.piepagina div img{
    height: 40px;
    width: 40px;
    align-items: center;
    margin-right: 10px;
}

.piepagina .redes{
    text-align: center;
    float: right;
}

.piepagina .redes img{
    display: inline-block;
}

/*PAGINA QUIENESOMOS.HTML*/



.menu a.elementosquien:hover{
    background-color: #138D75;
    border-radius: 25px;
}
.imagen-texto {
    position: relative;
    text-align: center;
}

.imagen-texto img {
    width: 100%;
    height: auto;
}

.texto-superpuesto {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 400%;
}
.seccionesquien{
    background-color: #FBEEE6;
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    color: #01295C;
    text-align: justify;
}

.seccionesquiender{
    background-color: #FBEEE6;
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: right;
    color: #01295C;
}

.titulosquien{
    font-style: italic;
}

.imagenquien{
    text-align: center;
    margin-top: 20px;
}

.imagenquien img{
    max-width: 100%;
    height: auto;
}



/*PAGINA NOTICIAS.HTML*/

.menu a.elementosnoticias:hover{
    background-color: #EF7257;
    border-radius: 25px;
}


/*PAGINA CITAS.HTML*/

.menu a.elementoscitas:hover{
    background-color: #C080FF;
    border-radius: 25px;
}


/*PAGINA CONTACTO.HTML*/

.menu a.elementoscontacto:hover{
    background-color: #873600;
    border-radius: 25px;
}

/*PAGINA PORTAL.HTML*/

.menu a.elementosportal:hover{
    background-color: #D4AC0D;
    border-radius: 25px;
}
